.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
}

.register-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 380px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.register-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.register-box button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.register-box button:hover {
    background:  #0056b3;
}